<!-- 

	select file, begin upload
	if parsing successful
		redirect to index.html
	else
		show error-message in top bar and remain on this page

-->

<!-- 
	TODO
	how to start uploading without having to click Submit button
	TODO
	show progress bar
 -->

<!DOCTYPE html>
<html>
<head>
	<title>Import bookmarks file</title>
</head>
<body>

	<form action="import" method="POST" enctype="">
		<!-- TODO: perhaps a routing issue aboce -->
		What type of file are you uploading

		<select>
			<option value="text_bookmarks">text bookmarks</option>
			<option value="opera_bookmarks">opera bookmarks</option>
			<option value="firefox_bookmarks">firefox bookmarks</option>
			<option value="chromium_bookmarks">chromium bookmarks</option>
		</select>

		<br>

		<label>Choose file to import</label>
		<input type="file" name="import_file" accept="">
		<!-- <input type="file" name="import_file" onchange="this.form.submit();"> -->


		<br>

		<input type="submit" name="submit">
	</form>

</body>
</html>
