/*
Nephritis		#27ae60;
Peter River		#3498db;
Belize Hole		#2980b9;
Turquoise		#1abc9c;
Green Sea		#16a085;
Emerald			#2ecc71;
danger 			#e74c3c;
danger			#c0392b;
buttons			#8e44ad;
buttons			#2c3e50;
buttons			#ecf0f1;
*/

body {
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	background-color: #ecf0f1;
}

content {
	overflow:auto; position:absolute; top: 0px; left:0px; right:0px; bottom:0px; display: flex;
}

.master {
	overflow: scroll;
	flex: 0 0 70%;
}

.detail {
	overflow: scroll;
	flex: 1;
}














.labels {
	/* all things here are labeled */
	margin: 0.4em;
}

.tags, .projects, .notes {
	padding: 0.4em;
}

.tags {
	/* tags group */
}

.projects {
	/* projects group */
}

.notes {
	/* notes group */
}

.a-tag, .a-project {
	display: inline-block !important;
	font-size: 1.1em;
	line-height: 1.1em;
	margin: 0.2em 0.2em 0.2em 0;
	padding: 0.2em 0.4em 0.2em 0.4em;
	border-radius: 2.2em;
}

.a-tag {
	/* tag's individual styling */
	background-color: turquoise;
}

.a-project {
	/* project's individual styling */
	background-color: #3498db;
}

.a-note {
	/* note's individual styling */
	border: 2px solid #ddd;
	border-bottom: 0px;
	padding: 0.4em;
}

.a-note:last-of-type {
	border-bottom: 2px solid #ddd;
}

.common-input {
	/* where you enter everything */
	width: 90%;
	margin: 0.4em;
	margin-left: 0.9em;
}

li[class^=a-]:hover::after {
	content: " x ";
	/*content: "<a onclick='this.parentNode.removeChild(this);'>X</a>";*/
}